<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>clubServer</servlet-name>
        <servlet-class>clubServer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getuserdata</servlet-name>
        <servlet-class>getuserdata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newuser</servlet-name>
        <servlet-class>newuser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newevent</servlet-name>
        <servlet-class>newevent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studentdata</servlet-name>
        <servlet-class>studentdata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eventregistration</servlet-name>
        <servlet-class>eventregistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>events</servlet-name>
        <servlet-class>events</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getuserdata</servlet-name>
        <url-pattern>/getuserdata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newuser</servlet-name>
        <url-pattern>/newuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newevent</servlet-name>
        <url-pattern>/newevent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentdata</servlet-name>
        <url-pattern>/studentdata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>clubServer</servlet-name>
        <url-pattern>/clubServer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eventregistration</servlet-name>
        <url-pattern>/eventregistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>events</servlet-name>
        <url-pattern>/events</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
