*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    display: grid;
    grid-template-columns: 17rem 1fr;
    grid-template-rows: 80px 1fr;
    width: 100vw;
    height: 100vh;
}

.navbar{
    background-color: #fafbfc;
}

.navbarOptions{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbarOptions img{
    width:400px;
    margin-left: 2rem;
}

.navbarOptions h3{
    text-align: right;
    display: flex;
    height:5rem;
    font-size: 1.3rem;
    align-items:center;
    /* background-color: lime; */
    justify-content: flex-end;
    margin-right: 2rem;
}
.sideTop {
    margin-top: 1rem;
}
.sideTop h2{
    font-size: 2rem;
    /* padding-left: 2rem; */
    color: rgb(255, 255, 255);
    text-align: center;
}
.sidebar{
    background-color: #35465c;
    grid-row: 1/-1 ;
}

.root{
    background-color: #ebeef2;
    position: relative;
}

.classUser{
    width:60vw;
    margin: 4rem auto;
    background-color: white;
}

.userIndex{
    padding: .5rem;
    background-color: rgba(236, 236, 236, 0.562);
    display: flex;
    gap: .6rem;
}

.userIndex > h2{
    color: green;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.userIndex > button{
    padding: .3rem;
    font-size: 1.01rem;
    background-color: seagreen;
    color: white;
    border: 2px solid white;
    border-radius: .3rem;

}

.userIndex > button:active{
    border: 2px solid seagreen;
}

.userContent{
    padding: 1rem;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #a5a5a5;
    text-align: left;
    padding: 8px;
}   

.userButn{
    font-size: 1.03rem;
    padding: .2rem 1rem;
    border: 2px solid white;
    border-radius: .3rem;
    color: white;
}


.editButn{
    background-color: rgb(4, 207, 106);
}

.editButn:active{
    border: 2px solid rgb(4, 207, 106);
}

.trashButn{
    background-color: rgb(255, 187, 0);
}

.trashButn:active{
    border: 2px solid rgb(255, 187, 0);
}

.login{
    background-color: rgb(255, 255, 255);
    width: 25rem;
    border-radius: .5rem;
    padding: .3rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.login_header{
    /* background-color: rgb(0, 166, 231); */
    padding: .3rem;
}

.loginTitle{
    color: rgb(9, 136, 240);
    text-align: center;
}

.loginForum{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.input {
    padding: .3rem;
    position: relative;
    margin: .8rem 0;
}
.input label{
    color: rgb(70, 70, 70);
    font-size: 1.3rem;
    text-transform: capitalize;
    position: absolute;
    top: .4rem;
    left: .4rem;
    transition-duration: 300ms;
}
.input input{
    font-size: 1.2rem;
    width:20rem;
    outline:none;
    margin: .3rem 0;
    padding: .3rem;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: .2rem solid rgb(9, 176, 226);
}

.input input:valid + label,.input input:focus + label{
    top: -9px;
    font-size: 1.1rem;
}


.loginButn{
    color: white;
    background-color: rgb(71, 183, 235);
    font-size: 1.2rem;
    padding: .3rem 2.5rem;
    border:none ;
    border: 2px solid white;
    border-radius: .5rem;
}

.loginButn:active{
    border: 2px solid transparent;

}

.alertMain{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}